body
{
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.container
{
    display: flex;
    flex-direction: column;
    margin: 15px 25px;
}

.image-container img
{
    max-width: 768px;
    width: 100%;
    height: 13rem;
}

.Prepa
{
    background-color: hsl(330, 100%, 96%);
    padding: 1.5rem;
    border-radius: 20px;

    h3
    {
        color: hsl(332, 51%, 32%);
    }

    ul 
    {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: 7px;
        
    }
    li
    {
        margin-left: 0;
        padding-left: 25px;
        color: hsl(0, 2%, 28%);  
    }
    li::marker
    {
        content: '\2022';
        color: hsl(332, 51%, 32%);
    }
}
.Ingre
{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    h3
    {
        color: hsl(332, 51%, 32%);
    }

    ul 
    {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: 7px;
        
    }
    li
    {
        margin-left: 0;
        padding-left: 25px;
        color: hsl(0, 2%, 28%);  
    }
    li::marker
    {
        content: '\2022';
        color: hsl(14, 45%, 36%);
    }
}

.Instru
{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    h3
    {
        color: hsl(332, 51%, 32%);
    }

    ol 
    {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: 20px;    
    }
    li
    {
        color: hsl(0, 2%, 28%);
        line-height: 1.5em;
        margin-left: 0;
        padding-left: 25px; 
    }
    li::marker
    {
        font-weight: bold;
        color: hsl(14, 45%, 36%);
    }
}

h1
{
    color: hsl(0, 2%, 28%);
    font-family: 'Young Serif', serif;  
}

h2
{
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
}

p
{
    color: hsl(0, 2%, 28%);
    line-height: 1.5em;
}

table 
{
    width: 100%;
    border-collapse: collapse;
}

table th, td
{
    border-bottom: 1px solid hsl(0, 0%, 80%); 
    padding: 12px; 
    text-align: left; 
}

table .C2
{
    color: hsl(14, 45%, 36%);
}

table tr#last th, table tr#last td
{
    border-bottom: none;
}

span
{
    color: hsl(0, 2%, 28%);
    font-weight: bold;
}

@media (min-width: 540px)
{
    .image-container img
    {
        max-width: 1024px;
        max-height: 1024px;
        width: 100%;
        height: 18rem;
    }                  
}

@media (min-width: 768px)
{
    .image-container img
    {
        max-width: 1024px;
        max-height: 1024px;
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 1024px)
{
    body 
    {
        background-color: hsl(30, 54%, 90%);
        display: grid;
        place-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .image-container img 
    {
        max-width: 1024px;
        max-height: 1024px;
        width: 100%;
        height: 23rem;
        border-radius: 20px;
    }

    .main 
    {
        width: 700px;
        background-color: hsl(0, 0%, 100%);
        padding: 3rem;
        border-radius: 30px;
    }

    h1 
    {
        font-size: 3rem;
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.main,
.container,
.Prepa,
.Ingre,
.Instru,
h1,
h2,
p,
table,
span {
    animation: scrollAnimation 1s ease-out;
}